<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <label class="control-label" style="margin-right:10px;">I am a: </label>
        <label class="radio-inline"> 
            <input type="radio" value="male" formControlName="gender"/>Male
        </label>
        <label class="radio-inline"> 
            <input class="ml-3" type="radio" value="female" formControlName="gender"/>Female
        </label>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("username").errors
             && registerForm.get("username").touched'
        type='text'   
        class="form-control"  
        formControlName="username"  
        placeholder="Username">
        <div *ngIf="registerForm.get('username').hasError('required')" 
        class="invalid-feedback">Please enter a Username</div>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("knownAs").errors
             && registerForm.get("knownAs").touched'
        type='text'   
        class="form-control"  
        formControlName="knownAs"  
        placeholder="Known As">
        <div *ngIf="registerForm.get('knownAs').hasError('required')" 
        class="invalid-feedback">Please enter a Known As</div>
    </div>
    <div class="form-group">
        <input 
        type="text"
        [class.is-invalid]='registerForm.get("dateOfBirth").errors
            && registerForm.get("dateOfBirth").touched' 
        class="form-control"
        #dp="bsDatepicker"
        formControlName="dateOfBirth"  
        placeholder="Date Of Birth"
        bsDatepicker 
        [(bsConfig)]="bsConfig"
        [(maxDate)] = "maxDate"
        >
        <div *ngIf="registerForm.get('dateOfBirth').hasError('required')" 
        class="invalid-feedback">Please select Date Of Birth</div>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("city").errors
             && registerForm.get("city").touched'
        type='text'   
        class="form-control"  
        formControlName="city"  
        placeholder="City">
        <div *ngIf="registerForm.get('city').hasError('required')" 
        class="invalid-feedback">Please enter a City</div>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("country").errors
             && registerForm.get("country").touched'
        type='text'   
        class="form-control"  
        formControlName="country"  
        placeholder="Country">
        <div *ngIf="registerForm.get('country').hasError('required')" 
        class="invalid-feedback">Please enter a Country</div>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("password").errors
             && registerForm.get("password").touched'
        type='password'   
        class="form-control"  
        formControlName="password"  
        placeholder="Password">
        <div *ngIf="registerForm.get('password').hasError('required')" 
        class="invalid-feedback">Please enter a Password</div>
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">
            Password must be at least {{registerForm.get('password').errors.minlength['requiredLength']}}
        </div>
        <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">
            Password must be at most {{registerForm.get('password').errors.maxlength['requiredLength']}}
        </div>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("confirmPassword").errors
             && registerForm.get("confirmPassword").touched'
        type='password'   
        class="form-control"  
        formControlName="confirmPassword"  
        placeholder="Confirm Password">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" 
        class="invalid-feedback">Please enter a Confirm Password</div>
        <div *ngIf="registerForm.get('confirmPassword').errors?.isMatching" class="invalid-feedback">
            Passwords do not match
       </div>
    </div>
    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
             <li *ngFor="let error of validationErrors">
                {{error}}
             </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-secondary  mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>